<!DOCTYPE html>
<head>
  <title>Job Motivation Generator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Job Motivation Generator</h3>
  <p>
    Before you start, please download the relevant files from
    <a
      href="https://www.linkedin.com/mypreferences/d/download-my-data"
      target="_blank"
    >
      LinkedIn </a
    >.
  </p>
  <form action="/" method="post" enctype="multipart/form-data">
    <textarea
      name="Vacancy"
      rows="20"
      placeholder="Enter vacancy text"
      required
      class="input-field"
    ></textarea>
    <label for="Education">Please upload the file 'education.csv'</label>
    <input type="file" name="Education" accept=".csv" required />
    <label for="Positions">Please upload the file 'positions.csv'</label>
    <input type="file" name="Positions" accept=".csv" required />
    <label for="Skills">Please upload the file 'skills.csv'</label>
    <input type="file" name="Skills" accept=".csv" required />
    <input type="submit" value="Review" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
